<div class="row-fluid">
  <div class="span6">
    <%= f.wrapped_date_selector_field :created_at %>
    <%= f.wrapped_text_field :title %>
    <%= f.wrapped_text_field :process_no, :mandatory => true %>
    <%= f.wrapped_text_field :client_discount %>
    <%= f.wrapped_text_field :discount %>
  </div>

  <div class="span6">
    <div id="client-info">
      <% if f.object.client %>
        <h3>Gewählter Kunde</h3>
        <%= f.hidden_field :client_id %>
        <%= f.object.client.full_name %><br />
        <%= f.object.client.address.try :street %><br />
        <%= f.object.client.address.try :postalcode %> <%= f.object.client.address.try :locality %><br />
        <%= mail_to f.object.client.email unless f.object.client.email.blank? %>
      <% end %>
    </div>

    <div class="field">
      <div class="input-append">
        <%= text_field_tag :cq, params[:cq], :class => 'search-query', :placeholder => 'Suchbegriff' %>
        <button name="commit" value="search-client" class="btn">Kunde suchen</button>
      </div>

      <div id="autocomplete_client_choices">
        <% if @clients and @clients.any? %>
          <ul style="list-style: none;">
            <% @clients.each do |client| %>
              <li>
                <button name="commercial_process[client_id]" class="btn span5" value="<%= client.id %>">
                  Kunde Nr. <%= highlight client.client_no, params[:cq] %><br>
                  <%= highlight client.full_name, params[:cq] %><br>
                  <%= highlight client.company_name, params[:cq] %>
                </button>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
