<h2>Vorgang bearbeiten</h2>

<%= form_for(@commercial_process) do |f| %>
  <%= f.error_messages %>

  <%= render 'form', :f => f %>

  <%= f.wrapped_text_field :client_discount %>
  <%= f.wrapped_text_field :discount %>
  <%= f.submit %>
<% end %>

<hr>

<h3>Positionen</h3>

<%= render 'items', :commercial_process => @commercial_process %>

<p><%= link_to 'Position hinzufügen', new_commercial_process_process_item_path(@commercial_process) %></p>
