<div class="container">
  <div class="page-header">
    <h1>Sektionen</h1>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Firma</th>
          <th>Adresse</th>
        </tr>
      </thead>
      <tbody>
        <% @company_sections.each do |company_section| %>
          <tr>
            <td><%=h company_section.name %></td>
            <td><%= link_to company_section.company.name, [:admin, company_section.company] %></td>
            <td><pre><%=h company_section.sender_address_block %></pre></td>
            <td>
              <div class="btn-group">
                <%= link_to image_tag('icons_16/contents.png'), [:admin, company_section], :class => 'btn' %>
                <%= link_to image_tag('icons_16/edit.png'), edit_admin_company_section_path(company_section), :class => 'btn' %>
                <%= link_to image_tag('icons_16/editdelete.png'), [:admin, company_section], :confirm => 'Sind wir uns da GANZ sicher?', :method => :delete, :class => 'btn' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>