<h1>Verkäufe</h1>

<h2>Im Monat <%= @from_date.strftime '%m-%Y' %></h2>

<p>
  <%= link_to '<<< Vormonat',   :from_date => @from_date.last_month %>
  <%= link_to 'Folgemonat >>>', :from_date => @from_date.next_month %>
</p>

<% if @sellings.any? %>
  <%= render :partial => 'list', :locals => {:processes => @sellings} %>
<% else %>
  <p>Noch keine Verkaufsvorgänge für diesen Monat angelegt.</p>
<% end %>

<p class="bottom-actions">
  <%= link_to 'Neuer Vermietvorgang', new_rental_path, :class => 'new' %>
  <%= link_to 'Neuer Verkaufsvorgang', new_selling_path, :class => 'new' %>
</p>

<p class="alternative_formats">
  Alternative Formate:
  <%= link_to image_tag('icons_16/text-xml.png') + ' XML', :format => 'xml' %> |
  <%= link_to image_tag('icons_16/application-json.png') + ' JSON', :format => 'json' %> |
  <%= link_to image_tag('icons_16/text-calendar.png') + ' ICS', :format => 'ics', :t => current_user.single_access_token %>
</p>
