<div class="container-fluid">
  <div class="offset2 page-header">
    <h1>Rechnungen <small>für Monat <%= @from_date.strftime '%m-%Y' %></small></h1>
  </div>
  <div class="offset2 row">
    <ul class="pager">
      <li class="previous"><%= link_to '<<< Vormonat',   :from_date => @from_date.prev_month %></li>
      <li class="next"><%= link_to 'Folgemonat >>>', :from_date => @from_date.next_month %></li>
    </ul>
  </div>
  <div class="offset2 row">
    <% if @invoices.any? %>
      <table class="table" style="width: 100%">
        <thead>
          <tr>
            <th>Re-Nr.</th>
            <th>Titel</th>
            <th>Vorgang</th>
            <th>Datum</th>
            <th>Kunde</th>
            <th>Bearbeiter</th>
            <th>Brutto-Preis</th>
          </tr>
        </thead>
        <tbody>
          <% @invoices.each do |invoice| %>
            <tr class="<%= cycle 'odd', 'even' %>">
              <td class="decimal"><%= link_to invoice.invoice_no, invoice %></td>
              <td class="decimal"><%= link_to invoice.process.title, invoice rescue 'OOPS' %></td>
              <td class="decimal"><%= link_to(invoice.process.process_no, invoice.process) rescue 'OOPS' %></td>
              <td><%=h invoice.date %></td>
              <td><%= link_to h(invoice.client.full_name), invoice.client %></td>
              <td><%= link_to h(invoice.user.full_name), invoice.user %></td>
              <td class="money"><%= m invoice.price %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="6">Summe</th>
            <td class="money"><strong><%=m @invoices.collect(&:price).sum %></strong></td>
          </tr>
        </tfoot>
      </table>
    <% else %>
      <p>Noch keine Rechnungen für diesen Monat angelegt.</p>
    <% end %>
  </div>
</div>