<h1>Rechnung für <%= @invoice.process.process_no %></h1>

<table class="data" id="base_data">
  <tr>
    <th>Kunde</th>
    <td style="white-space: nowrap">
      <%= @invoice.client.full_name %>
    </td>
  </tr>
  <% if @invoice.process.respond_to? :begin %>
    <tr>
      <th>Von</th>
      <td>
        <%= @invoice.process.begin.to_date %>
      </td>
    </tr>
    <tr>
      <th>Bis</th>
      <td>
        <%= @invoice.process.end.to_date %>
      </td>
    </tr>
  <% end %>
  <tr>
    <th>Rechnungsdatum</th>
    <td class="date"><%= @invoice.date %></td>
  </tr>
  <tr>
    <th>Rechnungs-Nr.</th>
    <td class="date"><%= @invoice.invoice_no %></td>
  </tr>
</table>

<table class="data" style="width: 100%">
  <thead>
    <tr>
      <th>Menge</th>
      <th>Artikel/Leistung</th>
      <th>Preis</th>
    </tr>
  </thead>

  <tbody>
    <% @invoice.items.each do |item| %>
      <tr>
        <td class="decimal">
          <%= h item.process_item.count %>
        </td>
        <td>
          <%= h item.process_item.product.full_name %><br />
          <span class="additional-information"><%= h item.process_item.comments %></span>
        </td>
        <td class="money">
          <%= m item.price %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th colspan="2">Total Netto</th>
      <td class="money invoice total"><%= m @invoice.net_total_price %></td>
    </tr>
    <tr>
      <th colspan="2">Total Brutto</th>
      <td class="money invoice total"><%= m @invoice.price %></td>
    </tr>
  </tfoot>
</table>

<p class="merging-textarea">
  <%= hh @invoice.remarks %>
</p>

<p class="bottom-actions">
  <%= link_to 'PDF-Version', invoice_path(@invoice, :format => 'pdf'), :class => 'pdf' %>
  <%= link_to 'Zurück zum Vorgang', @invoice.process, :class => 'back' %>
  <%= link_to 'Zurück zur Rechnungsübersicht', invoices_path, :class => 'back' %>
  <%= link_to 'Löschen', @invoice, :method => :delete, :class => 'delete' %>
</p>
