<%= form_for(@distributor) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend>Kontaktdaten</legend>
    <%= f.wrapped_text_field :client_no %>
    <%= f.wrapped_text_field :company_name %>
    <%= f.wrapped_text_field :contact_person %>
    <%= f.wrapped_text_field :email %>
  </fieldset>

  <% optional_fieldset 'Adressdaten', !@distributor.address.new_record? do %>
    <% f.fields_for :address do |af| %>
      <%= render :partial => 'addresses/form', :locals => {:f => af} %>
    <% end %>
  <% end %>

  <% optional_fieldset 'Kontodaten', !@distributor.bank_account.new_record? do %>
    <% f.fields_for :bank_account do |af| %>
      <%= render :partial => 'bank_accounts/form', :locals => {:f => af} %>
    <% end %>
  <% end %>

  <%= f.wrapped_text_field :discount, :unit => 'percent' %>

  <div class="field">
    <%= f.label :remarks, 'Anmerkungen' %>
    <%= f.text_area :remarks, :size => '76x4' %>
  </div>

  <div class="field">
    <%= f.submit 'Speichern' %>
  </div>
<% end %>
