<% if @distributors.any? %>
  <table class="table table table-condensed">
    <thead>
      <tr>
        <th></th>
        <th>Firma</th>
        <th>Kontakt</th>
        <th>Ansprechpartner</th>
      </tr>
    </thead>
    <tbody>
      <% @distributors.each do |distributor| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td class="decimal"><%= distributor.client_no %></td>
          <td><%= link_to h(distributor.company_name), distributor %></td>
          <td><%= mail_to h(distributor.email) unless distributor.email.blank? %><br /><%=h distributor.address.phone if distributor.address %></td>
          <td><%=h distributor.contact_person %></td>
          <td>
            <div class="btn-group">
              <%= link_to image_tag('icons_16/edit.png'), edit_distributor_path(distributor), :class => "btn" %>
              <%= link_to image_tag('icons_16/editdelete.png'), distributor, :confirm => 'Sind wir uns da GANZ sicher?', :method => :delete, :class => "btn" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Keine passenden Lieferanten gefunden.</p>
<% end %>
