<div class="container">
  <div class="row">
    <h1>Lieferant <%= @distributor.company_name %></h1>
    <p><%= last_changed_info @distributor %></p>
  </div>
  <div class="row">
    <div class="span7 hero-unit">
      <div class="span3">
        <div class="row">
          <h2>Lieferantendetails</h2>
          <dl class="dl-horizontal">
            <dt>Kundennummer:</dt>
            <dd><%=h @distributor.client_no %></dd>
            <% unless @distributor.company.blank? %>
              <dt>Firma:</dt>
              <dd><%=h @distributor.company_name %></dd>
            <% end %>
            <dt>Ansprechpartner:</dt>
            <dd><%=h @distributor.contact_person %></dd>
            <dt>E-Mail:</dt>
            <dd><%= mail_to @distributor.email %></dd>

            <dt>Rabatt:</dt>
            <dd><%=h @distributor.discount %>%</dd>
          </dl>
        </div>
        <% if @distributor.address %>
          <div class="row">
            <h2>Adresse</h2>
            <dl class="dl-horizontal">
              <dt>Adresse:</dt>
              <dd><%= @distributor.address.to_html rescue 'nicht angegeben' %></dd>
              <dt>Telefon:</dt>
              <dd><%=h @distributor.address.phone %></dd>
              <dt>Fax:</dt>
              <dd><%=h @distributor.address.fax %></dd>
              <dt>Mobil:</dt>
              <dd><%=h @distributor.address.mobile %></dd>
              <dt></dt>
              <dd></dd>
            </dl>
          </div>
        <% end %>
        <% if @distributor.bank_account %>
          <div class="row">
            <h2>Kontodaten</h2>
            <dl class="dl-horizontal">
              <dt>Inhaber:</dt>
              <dd><%=h @distributor.bank_account.registrar_name %></dd>
              <dt>Konto-Nr:</dt>
              <dd><%=h @distributor.bank_account.number %></dd>
              <dt>BLZ:</dt>
              <dd><%=h @distributor.bank_account.blz %></dd>
              <dt>Bank:</dt>
              <dd><%=h @distributor.bank_account.bank_name %></dd>
              <dt>IBAN:</dt>
              <dd><%=h @distributor.bank_account.iban %></dd>
              <dt>BIC:</dt>
              <dd><%=h @distributor.bank_account.bic %></dd>
            </dl>
          </div>
        <% end %>
      </div>

      <div class="span3">
        <div class="row">
          <h2>Anmerkungen</h2>
          <% form_for @distributor do |f| %>
            <%= f.text_area :remarks, :size => '50x10', :class => 'initial span6', :readonly => true %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Lieferant</li>
          <li><%= link_to 'Bearbeiten', edit_distributor_path(@distributor), :class => 'edit' %></li>
          <li class="nav-header">Alternative Formate</li>
          <li><%= link_to image_tag('icons_16/text-xml.png') + ' XML', :format => 'xml' %></li>
          <li><%= link_to image_tag('icons_16/application-json.png') + ' JSON', :format => 'json' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<% javascript_on_load do %><script>
    $('distributor_remarks').observe('focus', function(event) {
      event.element().removeClassName('saved');
    });

    $('distributor_remarks').observe('change', function(event) {
      event.element().up('form').request({
        onSuccess: function(response) {
          $('distributor_remarks').addClassName('saved');
        }
      });
    });
  <% end %>
