<h1>Artikel</h1>

<% form_tag devices_path, :method => :get do %>
  <div id="search">
    <%= label_tag :q, 'Suche' %>
    <%= text_field_tag(:q, params['q']) %>
    <%= image_tag('loading.gif', :id => 'spinner1', :style => 'display: none;', :class => 'small_spinner') %>
  </div>
<% end %>

<script type="text/javascript">
  //<![CDATA[
  new Form.Element.Observer('q', 2, function(element, value) {Element.show('spinner1'); new Ajax.Updater('clients', '<%= devices_path %>', {asynchronous:true, evalScripts:true, method:'get', onSuccess:function(request){Element.hide('spinner1')}, parameters:Form.Element.serialize('q')})})
  //]]>
</script>

<div id="devices">
  <%= render :partial => 'list' %>
</div>

<hr>

<% if APP_SETTINGS[:enable_client_csv_import] %>
  <h3>Artikeldaten von CSV importieren</h3>
  <% form_for(Device.new, {}, :html => {:multipart => true}) do |f| %>
    <p>
      <%= file_field_tag :csv_file %> <%= f.submit 'Importieren' %></p>
  <% end %>
<% end %>

<p>
  <%= link_to 'Neuen Artikel anlegen', new_device_path %>
</p>
