<p>
  <%= f.label :company_section_id, 'Firmensektion' %><br />
  <%= f.collection_select :company_section_id, current_company.sections.all, :id, :name %>
</p>

<p>
  <%= f.label :login, 'Benutzername' %><br />
  <%= f.text_field :login %>
</p>

<p>
  <%= f.label :forename, 'Vorname'%><br />
  <%= f.text_field :forename %>
</p>

<p>
  <%= f.label :surname, 'Nachname' %><br />
  <%= f.text_field :surname %>
</p>

<p>
  <%= f.label :email, 'E-Mailadresse' %><br />
  <%= f.text_field :email %>
</p>

<p>
  <%= f.label :password, 'Kennwort' %><br />
  <%= f.password_field :password %>
</p>

<p>
  <%= f.label :password_confirmation, 'Kennwortbestätigung' %><br />
  <%= f.password_field :password_confirmation %>
</p>
