<h1>Mitarbeiterkonto anlegen</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <% optional_fieldset 'Adresse', @user.address.used? do %>
    <% f.fields_for :address do |af| %>
      <%= render :partial => 'addresses/form', :locals => {:f => af} %>
    <% end %>
  <% end %>

  <% optional_fieldset 'Kontodaten', @user.bank_account.used? do %>
    <% f.fields_for :bank_account do |af| %>
      <%= render :partial => 'bank_accounts/form', :locals => {:f => af} %>
    <% end %>
  <% end %>

  <p>
    <%= f.submit 'Speichern' %>
  </p>
<% end %>

<p class="bottom-actions">
  <%= link_to 'Zurück', users_path, :class => 'back' %>
</p>
