<h1>Mitarbeiter <%= @user.full_name %></h1>

<%= last_changed_info @user %>

<div class="widget_container left">
  <div class="widget">
    <h2>MA-Details</h2>
    <p>
      <b>Name:</b>
      <%=h @user.full_name %>
    </p>

    <p>
      <b>Benutzername:</b>
      <%=h @user.login %>
    </p>

    <p>
      <b>E-Mail:</b>
      <%=h @user.email %>
    </p>

    <% if @user.address %>
      <p>
        <b>Adresse:</b><br />
        <%= @user.address.to_html %>
      </p>

      <p>
        <b>Telefon:</b>
        <%=h @user.address.phone %>
      </p>

      <p>
        <b>Fax:</b>
        <%=h @user.address.fax %>
      </p>

      <p>
        <b>Mobil:</b>
        <%=h @user.address.mobile %>
      </p>
    <% end %>

    <p>
      <b>Firmensektion:</b>
      <%=h @user.company_section.name %>
    </p>

  </div>
</div>

<div class="widget_container right">
  <div class="widget">
    <div class="full_width_input">
      <%= form_for @user do |f| %>
        <h2><%= f.label :remarks, 'Anmerkungen' %></h2>
        <%= f.text_area :remarks, :size => '50x10', :class => 'initial' %>
      <% end %>
    </div>
  </div>

  <% if @user.bank_account %>
    <div class="widget">
      <h2>Kontodaten</h2>
      <p>
        <b>Bank:</b>
        <%=h @user.bank_account.bank_name %>
      </p>

      <p>
        <b>Konto-Nr:</b>
        <%=h @user.bank_account.number %>
      </p>

      <p>
        <b>BLZ:</b>
        <%=h @user.bank_account.blz %>
      </p>

      <% unless @user.bank_account.iban.blank? and @user.bank_account.bic.blank? %>
        <p>
          <b>IBAN/BIC:</b>
          <%=h @user.bank_account.iban %>/<%=h @user.bank_account.bic %>
        </p>
      <% end %>

    </div>
  <% end %>
</div>

<hr />

<p class="bottom-actions">
  <%= link_to 'Bearbeiten', edit_user_path(@user), :class => 'edit' %>
  <%= link_to 'Zurück zur Übersicht', users_path, :class => 'back' %>
</p>

<%= javascript_on_load do %>
  $('user_remarks').observe('focus', function(event) {
  event.element().removeClassName('saved');
  });

  $('user_remarks').observe('change', function(event) {
  event.element().up('form').request({
  onSuccess: function(response) {
  $('user_remarks').addClassName('saved');
  }
  });
  });
<% end %>
