<% if @clients.any? %>
  <table class="table table table-condensed">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Firma</th>
        <th>Kontakt</th>
        <th>Ansprechpartner</th>
        <th>Rabatt</th>
      </tr>
      </thread>
    <tbody>
      <% @clients.each do |client| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td><%= client.client_no %></td>
          <td><%= link_to h(client.full_name), client %></td>
          <td><%= link_to h(client.company_name), client %></td>
          <td><%= mail_to h(client.email) %><br /><%=h client.phone %></td>
          <td><%=h client.contact_person.login %></td>
          <td class="decimal"><%= sprintf('%.1f&nbsp;%', client.discount) %></td>
          <td>
            <% if may_edit_client?(client) %>
              <div class="btn-group">
                <%= link_to image_tag('icons_16/edit.png'), edit_client_path(client), :class => "btn" %>
                <%= link_to image_tag('icons_16/editdelete.png'), client, :confirm => 'Sind wir uns da GANZ sicher?', :method => :delete, :class => "btn" %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Keine passenden Kunden gefunden.</p>
<% end %>
