<div class="container">
  <div class="row">
    <h1>Kunde <%= @client.client_no %></h1>
    <p><%= last_changed_info @client %></p>
  </div>
  <div class="row">
    <div class="span7 hero-unit">
      <div class="span3">
        <div class="row">
          <h2>Kundendetails</h2>
          <dl class="dl-horizontal">
            <dt>Kundennummer:</dt>
            <dd><%=h @client.client_no %></dd>
            <% unless @client.company.blank? %>
              <dt>Firma:</dt>
              <dd><%=h @client.company_name %></dd>
            <% end %>
            <dt>Name:</dt>
            <dd><%=h @client.full_name %></dd>
            <% if @client.address %>
              <dt>Adresse:</dt>
              <dd><%= @client.address.to_html rescue 'nicht angegeben' %></dd>
              <dt>Telefon:</dt>
              <dd><%=h @client.address.phone %></dd>
              <dt>Fax:</dt>
              <dd><%=h @client.address.fax %></dd>
              <dt>Mobil:</dt>
              <dd> <%=h @client.address.mobile %></dd>
            <% end %>
          </dl>
        </div>
        <div class="row">
          <h2>Kundendetails</h2>
          <dl class="dl-horizontal">
            <dt>E-Mail:</dt>
            <dd><%= mail_to @client.email %></dd>
            <dt>Ansprechpartner:</dt>
            <dd><%=h @client.contact_person.full_name %></dd>
            <dt>Zahlungsziel:</dt>
            <dd><%=h @client.payment_goal %> Tage</dd>
            <dt>Kundenrabatt:</dt>
            <dd><%=h @client.discount %>%</dd>
          </dl>
        </div>
        <% if @client.bank_account %>
          <div class="row">
            <h2>Kontodaten</h2>
            <dl class="dl-horizontal">
              <dt>Konto-Inhaber:</dt>
              <dd><%=h @client.bank_account.registrar_name %></dd>
              <dt>Konto-Nr.:</dt>
              <dd><%=h @client.bank_account.number %></dd>
              <dt>BLZ:</dt>
              <dd><%=h @client.bank_account.blz %></dd>
              <dt>Bank:</dt>
              <dd><%=h @client.bank_account.bank_name %></dd>
              <dt>IBAN.:</dt>
              <dd><%=h @client.bank_account.iban %></dd>
              <dt>BIC.:</dt>
              <dd><%=h @client.bank_account.bic %></dd>
            </dl>
          </div>
        <% end %>
      </div>
      <div class="span3">
        <div class="row">
          <h2>Anmerkungen</h2>
          <% form_for @client do |f| %>
            <%= f.text_area :remarks, :size => '50x10', :class => 'initial' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Kunde</li>
          <% if may_edit_client?(@client) %>
            <li><%= link_to '<i class="icon-edit"></i>Bearbeiten', edit_client_path(@client), :class => 'edit' %></li>
          <% end %>
          <li><%= link_to '<i class="icon-plus"></i>neuer Vermietvorgang für Kunden',  new_rental_path(:rental => {:client_id => @client.id}), :class => 'new' %></li>
          <li><%= link_to '<i class="icon-plus"></i>neuer Verkaufsvorgang für Kunden', new_selling_path(:selling => {:client_id => @client.id}), :class => 'new' %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @client.processes.any? %>
      <h2>Vorgänge</h2>
      <table class="table table-striped" style="width: 100%">
        <thead>
          <tr>
            <th>VG-Nr.</th>
            <th>Status</th>
            <th>Preis</th>
          </tr>
        </thead>
        <tbody>
          <% @client.processes.sort{|a, b| a.created_at <=> b.created_at }.each do |process| %>
            <tr>
              <td class="decimal"><%=h process.process_no %></td>
              <td class="workflow <%= process.workflow_state %>"><%= process.workflow_state %></td>
              <td class="money"><%=m process.gross_total_price %></td>
              <td><%= link_to image_tag('icons_16/goto.png'), process %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class="row">
    Alternative Formate:
    <%= link_to image_tag('icons_16/text-xml.png') + ' XML', :format => 'xml' %> |
    <%= link_to image_tag('icons_16/application-json.png') + ' JSON', :format => 'json' %> |
  </div>
</div>

<% javascript_on_load do %><script>
    $('client_remarks').observe('focus', function(event) {
      event.element().removeClassName('saved');
    });

    $('client_remarks').observe('change', function(event) {
      event.element().up('form').request({
        onSuccess: function(response) {
          $('client_remarks').addClassName('saved');
        }
      });
    });
  <% end %>
