<%= f.hidden_field :client_id %>
<%= f.wrapped_text_field :title %>
<%= f.wrapped_date_selector_field :begin %>
<%= f.wrapped_date_selector_field :end %>
<%= f.wrapped_text_field :usage_duration, :unit => 'd' %></th>
<%= f.wrapped_text_field :billed_duration, :unit => 'd' %>
<%= f.wrapped_text_field :process_no %>

<div id="client_info">
  <% if f.object.client %>
    <%= f.object.client.full_name %><br />
    <%= f.object.client.address.try :street %><br />
    <%= f.object.client.address.try :postalcode %> <%= f.object.client.address.try :locality %><br />
    <%= mail_to f.object.client.email unless f.object.client.email.blank? %>
  <% end %>
</div>

<div class="field">
  <%= text_field_tag :cq, params[:cq], :class => 'search_field' %>
  <button name="commit" value="search_client">suchen</button>
  <div id="autocomplete_client_choices">
    <% if @clients and @clients.any? %>
      <ul>
        <% @clients.each do |client| %>
          <li>
            <button name="rental[client_id]" value="<%= client.id %>">
              Kunde Nr. <%= highlight client.client_no, params[:cq] %><br>
              <%= highlight client.full_name, params[:cq] %><br>
              <%= highlight client.company_name, params[:cq] %>
            </button>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
