<table class="data" style="width: 100%">
  <thead>
    <tr>
      <th>VG-Nr.</th>
      <th>Titel</th>
      <th>Bearbeiter</th>
      <th>Kunde</th>
      <th>von</th>
      <th>bis</th>
      <th>Einsatzd.</th>
      <th>Abrechnungsd.</th>
      <th>Brutto-Total</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% processes.each do |process| %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td class="decimal"><%= link_to process.process_no, process %></td>
        <td><%= link_to h(process.title), process %></td>
        <td><%= link_to((process.user.surname rescue 'OOPS'), process.user) %></td>
        <td><%= link_to((process.client.full_name rescue 'OOPS'), process.client) %></td>
        <td><%=h process.begin.to_date %></td>
        <td><%=h process.end.to_date %></td>
        <td class="decimal"><%=h process.usage_duration %> Tage</td>
        <td class="decimal"><%=h process.billed_duration %> Tage</td>
        <td class="decimal price"><%= m process.gross_total_price %></td>
        <td class="workflow <%= process.workflow_state %>"><%= process.workflow_state %></td>
        <td>
          <ul class="toolchain">
            <li><%= link_to image_tag('icons_16/editdelete.png'), process, :method => :delete, :confirm => 'Wirklich löschen?' %></li>
            <li><%= link_to image_tag('icons_16/goto.png'), process %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="8">Summe</th>
      <td class="decimal"><%= m processes.collect(&:gross_total_price).sum %></td>
    </tr>
  </tfoot>
</table>

