<h1>Neuer Vermietvorgang</h1>

<% form_for(@rental) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form_header', :locals => {:f => f} %>

  <div id="available_products" style="width: 100%">
    <p class="full_width_input">
      <%= f.label :offer_top_text, 'Text für Angebot' %><br />
      <%= f.text_area :offer_top_text, :class => 'full_width_input', :rows => 5 %>
    </p>

    <table id="available_products_table" class="data" style="width: 100%">
      <thead>
        <tr>
          <th style="width: auto">Bezeichnung</th>
          <th style="width: 7em">Verfügbar</th>
          <th style="width: 7em">Menge</th>
          <th style="width: 7em">E-Tagespreis</th>
          <th style="width: 7em">Gesamtpreis</th>
        </tr>
      </thead>

      <tbody>
        <% f.fields_for :new_device_items do |pf| %>
          <tr class="product device_item">
            <%= render :partial => 'rental_periods/form', :locals =>  {:pf => pf, :f => f} %>
          </tr>
        <% end %>

        <tr class="<%= cycle 'odd', 'even' %> add_row">
          <td>
            Artikel suchen: <%= text_field_tag :dq, '', :class => 'search_field' %>
            <span id="indicator2" style="display: none">
              <%= image_tag 'loading.gif' %>
            </span>
            <div id="device_autocomplete_choices" class="autocomplete"></div>
          </td>
          <td>
            <%= render :partial => 'new_product_button' %>
          </td>
        </tr>

        <tr>
          <th>Dienstleistung</th>
          <th>Dauer</th>
          <th>Anzahl</th>
          <th>Stundensatz</th>
          <th>Gesamtpreis</th>
        </tr>
        <% f.fields_for :new_service_items do |pf| %>
          <tr class="product service_item">
            <%= render :partial => 'service_items/form', :locals =>  {:pf => pf} %>
          </tr>
        <% end %>

        <tr class="<%= cycle 'odd', 'even' %> add_row">
          <td>
            Dienstleistung suchen: <%= text_field_tag :sq, '', :class => 'search_field' %>
            <span id="indicator3" style="display: none">
              <%= image_tag 'loading.gif' %>
            </span>
            <div id="service_autocomplete_choices" class="autocomplete"></div>
          </td>
        </tr>
      </tbody>

      <%= render :partial => 'form_footer', :locals => {:f => f} %>
    </table>

    <p class="full_width_input">
      (verfügbare Variablen: %sender_name)
      <%= f.label :offer_bottom_text, 'Text für Angebot' %><br />
      <%= f.text_area :offer_bottom_text, :class => 'full_width_input', :rows => 5 %>
    </p>

    <%= f.submit 'Speichern' %>
  </div>

<% end %>

<p class="bottom-actions">
  <%= link_to 'Zurück zur Übersicht', rentals_path, :class => 'back' %>
</p>

<%= render :partial => 'js_functions' %>
