<tr class="product device device_item">
  <td class="item product_id">
    <%= pf.hidden_field :product_id %>
    <%= pf.hidden_field :id %>
    <%= link_to h(pf.object.product.full_name), pf.object.product %><br />
    <%= pf.text_area :comments, :class => 'product_comments' %>
    <%= pf.hidden_field :_destroy, :class => '_delete' %>
  </td>
  <td class="decimal item available_count">
  </td>
  <td class="decimal item count">
    <%= pf.text_field :count, :title => 'Menge/Anzahl' %>
  </td>
  <td class="decimal item unit_price">
    <%= pf.text_field :unit_price, :title => 'Netto-Einzelpreis für diesen Artikel' %>&thinsp;&euro;
  </td>
  <td class="decimal item price">
    <%= pf.text_field :price, :title => 'Netto-Gesamtpreis für diesen Artikel' %>&thinsp;&euro;
  </td>
  <td class="toolbox">
    <button type="button" class="remove_line" title="Diese Position entfernen"></button>
  </td>
</tr>
