<div class="row">
  <div class="pull-right">
    <%= link_to 'bearbeiten', edit_account_path, :class => 'btn' %>
  </div>
</div>

<div class="row-fluid">
  <div class="span5">
    <div class="hero-unit">
      <h1>Benutzerkonto</h1>
      <p>Ihr letzter Login war am <%= @user.last_login_at %></p>

      <p>Sie betreuen <%= @user.clients.count == 0 ? 'keine' : @user.clients.count %> <%= link_to 'Kunden', clients_path %></p>
      <p>Sie verwalten <%= @user.company_section.products.count == 0 ? 'keine' : @user.company_section.products.count %> <%= link_to 'Produkte', products_path %></p>
    </div>

    <div class="hero-unit">
      <h2>Ihre Firma</h2>
      <p>Sie sind mit folgenden Daten bei uns registriert. Sollten Sie diese Daten ändern wollen, setzen Sie sich bitte mit unserem Support-Team in Verbindung.</p>
      <p><%= render :partial => 'companies/details' %></p>
      <p><%= link_to 'Standardtexte verwalten', default_texts_path %></p>
      <% if is_company_admin? %>
        <p><%= link_to 'Firmendaten bearbeiten', edit_company_path %></p>
        <p><%= link_to_remote 'Bankkontodaten bearbeiten', edit_bank_account_path %> </p>
      <% end %>
    </div>
  </div>

  <div class="span7">
    <div class="container">
      <h2>Vermietung</h2>
      <%= render rental.dashboard_item rescue 'no dashboard_item for rental' %>
    </div>

    <div class="container">
      <h2>Verkauf</h2>
      <%= render sale.dashboard_item rescue 'no dashboard_item for sale' %>
    </div>
  </div>
</div>
