<h1>Artikelkategorien</h1>

<% if @categories.any? %>
  <table class="data">
    <thead>
      <tr>
        <th>Name</th>
        <th>Anmerkungen</th>
        <th>Produkte</th>
        <th>Aktion</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr class="category" id="category_<%= category.id %>">
          <td><%= link_to h(category.name), category, :title => 'Verfügbarkeit für Artikel in dieser Kategorie anzeigen' %></td>
          <td><%=h category.description %></td>
          <td class="decimal"><%= category.products.size %></td>
          <td>
            <ul class="toolchain">
              <li><%= link_to image_tag('icons_16/edit.png'), edit_category_path(category) %></li>
              <li><%= link_to image_tag('icons_16/editdelete.png'), category, :confirm => 'WIRKLICH löschen?', :method => :delete %></li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Noch keine Kategorien angelegt</p>
<% end %>

<p class="bottom-actions">
  <%= link_to 'Neue Kategorie', new_category_path, :class => 'new' %>
</p>

<p class="alternative_formats">
  Alternative Formate:
  <%= link_to image_tag('icons_16/text-xml.png') + ' XML', :format => 'xml' %> |
  <%= link_to image_tag('icons_16/application-json.png') + ' JSON', :format => 'json' %> |
</p>

