<h1>Benutzerkonto anlegen</h1>

<% form_for([:admin, @user]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :company_section_id, 'Firmen-Sektion' %><br />
    <%= f.collection_select :company_section_id, CompanySection.all, :id, :full_name %>
  </p>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Speichern' %>
  </p>
<% end %>


<p>
  <%= link_to 'Zurück', admin_users_path %>
</p>
