<%= form_for(@product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code, 'Artikel-Code' %><br />
    <%= f.text_field :code %>
  </p>

  <%= render :partial => partial_for(@product, 'form') %>

  <fieldset>
    <legend>Lieferanten</legend>
    <% f.fields_for :buying_prices do |bpf| %>
      <%= bpf.label :price, 'Lieferant' %>/<%= bpf.label :price, 'Einkaufspreis' %><br />
      <%= bpf.collection_select :distributor_id, current_company.distributors, :id, :company_name, :include_blank => true %>
      <%= bpf.text_field :price, :class => 'money' %>&thinsp;&euro;/<span class="product_unit"><%= @device.unit %></span>
    <% end %>
  </fieldset>

  <%= collection_checkboxes_for f, :category_ids, current_company.categories.all(:order => 'categories.name ASC'), :id, :name, {:legend => 'Kategorien'}, :multiple => true  %>

  <p>
    <%= f.submit 'Speichern' %>
  </p>
<% end %>
