
<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Aktionen</li>
      <li><%= link_to 'neues Gerät', new_device_path %></li>
      <li><%= link_to 'neue Dienstleistung', new_service_path%></li>
      <li><%= link_to 'neuer Spesenartikel', new_expense_path %></li>
      <li class="nav-header">Kategorien</li>
      <%= category_tabs current_company.categories.not_empty(params[:action]), :active => params[:category_id] || :all %>
    </ul>
  </div>
</div>

<div class="span9">
  <% if @products.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th>Bezeichnung</th>
          <% unless params[:action] == 'service' %>
            <th>heute verfgb.</th>
          <% end %>
          <% if ['index', 'rentable'].include? params[:action] %>
            <th>Vermietpreis</th>
          <% end %>
          <% if ['index', 'sellable'].include? params[:action] %>
            <th>Verkaufspreis</th>
          <% end %>
          <th style="width: 120px;">Aktion</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <% next unless product.article %>
          <tr class="<%= cycle 'odd', 'even' %>">
            <td><%= link_to h(product.code), product %></td>
            <td>
              <%= link_to h(product.full_name), product, :class => 'product_link' %><br />
              <span class="additional-information"><%= product.description.to_s.gsub(/\r\n|\n/, '<br />') %></span>
            </td>
            <% unless params[:action] == 'service' %>
              <td class="decimal">
                <%=h product.available_count(Date.today) %>&thinsp;<%= product.unit %>
              </td>
            <% end %>
            <% if ['index', 'rentable'].include? params[:action] %>
              <td class="decimal">
                <% if product.is_rentable? %>
                  <%= m product.rental_price %> /<%= product.unit %>
                <% end %>
              </td>
            <% end %>
            <% if ['index', 'sellable'].include? params[:action] %>
              <td class="decimal">
                <% if product.is_sellable? %>
                  <%=m product.selling_price %>/<%= product.unit %>
                <% end %>
              </td>
            <% end %>
            <td>
              <div class="btn-group">
                <%= link_to image_tag('icons_16/goto.png'), product, :class => 'btn' %>
                <% if true # can? :edit, product %>
                  <%= link_to image_tag('icons_16/edit.png'), edit_product_path(product), :class => 'btn' %>
                  <%= link_to image_tag('icons_16/editdelete.png'), product, :confirm => 'Sind wir uns da GANZ sicher?', :method => :delete, :class => 'btn' %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Noch keine Artikel angelegt. <%= link_to 'Dienstleistung anlegen', new_service_path %>/<%= link_to 'Artikel anlegen', new_device_path %></p>
  <% end %>
</div>

