<h1>Verkaufbare Artikel</h1>

<div id="products">
  <%= render :partial => 'list' %>
</div>

<hr>

<p class="bottom-actions">
  <%= link_to 'Neue Dienstleistung', new_service_path, :class => 'new' %>
  <%= link_to 'Neuer Artikel', new_device_path, :class => 'new' %>
</p>

<p class="alternative_formats">
  Alternative Formate:
  <%= link_to image_tag('icons_16/text-xml.png') + ' XML', :format => 'xml' %> |
  <%= link_to image_tag('icons_16/application-json.png') + ' JSON', :format => 'json' %>
<!--   <%= link_to image_tag('icons_16/text-csv.png') + ' CSV', :format => 'csv' %> -->
</p>

