<div class="container">
  <div class="form-signin">

    <% form_for @user_session, :url => user_session_path do |f| %>
      <fieldset>
        <legend>Login</legend>
        <p>
          <%= f.error_messages %>
          <%= f.text_field :login, :placeholder => 'Login', :class => 'input-block-level' %>
          <%= f.password_field :password, :placeholder => 'Password', :class => 'input-block-level' %>
          <!-- TODO add decent methode for creating label around checkboxes -->
          <label for="user_session[remember_me]" class="checkbox">
            <%= f.check_box :remember_me %> Automatisch einloggen beim nächsten Besuch
          </label>
          <%= f.submit 'Login', :class => 'btn btn-large btn-primary pull-right' %>
        </p>
      </fieldset>
    <% end %>
  </div>
</div>