<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Lieferanten: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= javascript_include_tag :defaults %>
    <%= yield :javascript %>
  </head>

  <body>
    <%= main_navigation :active => 'Lieferanten' %>

    <% aux_navigation do %>
      <%= link_to 'Übersicht', distributors_path %>
      <%= link_to 'Neuer Lieferant', new_distributor_path %>
      <% form_tag distributors_path, :method => :get do %>
        <div id="search">
          <%= label_tag :q, 'Suche' %>
          <%= text_field_tag(:q, params['q']) %>
          <%= image_tag('loading.gif', :id => 'spinner1', :style => 'display: none;', :class => 'small_spinner') %>
        </div>
      <% end %>

      <%= observe_field 'q', :frequency => 2,
          :update   => 'clients',
          :before   => "Element.show('spinner1')",
          :success  => "Element.hide('spinner1')",
          :url      => distributors_path,
          :method   => :get,
          :with     => "Form.Element.serialize('q')" %>
    <% end %>

    <div class="main_content">
      <%= flash_message %>
      <%= yield  %>
    </div>

    <%= footer %>
  </body>
</html>
